@use '../components/gif-placeholder/MiniTutorialGif.scss' as *;

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.5px;
}