// ====== COLOURS ========
// $primary-cta: #4d5867;
$primary-cta: #688FF5;
$green: #34A853;
$light-gray: #E6E7E9; 
$dark-gray: #808893;
$blue: #688FF5;

// ====== Text Colour =====
$white: #FFFFFF


