.model{
    &__container{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    &__silhouette{
        width: 40%;
        height: 40%;
    } 
    
    &__selector{
        width: 40%;
        height: 40%;
    }
    &__progress{
        margin-left: auto;
        margin-right: auto;
    }

}