@use "../../styles/mixins.scss" as *;

.mini {
   &__p {
    padding: 16px;
    display: flex;
    width: 360px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.5px;
   } 
   &__img-box {
    width: 360px;
    height: 423.785px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
   }
   &__cta {
    @include cta;
   }
}

